# Web Framework & API
Django==6.0.5
django-cors-headers==4.9.0
djangorestframework==3.17.1
python-dotenv==1.0.0

# Database & Authentication
pymongo==4.15.5
PyJWT==2.8.0
bcrypt==4.1.1

# AI & Machine Learning
google-genai==2.10.0
ultralytics==8.4.82
scikit-learn==1.8.0
joblib==1.5.3
pandas==3.0.1
numpy==2.4.3
thefuzz==0.22.1

# Background Jobs & APIs
APScheduler==3.11.3
requests==2.31.0
beautifulsoup4==4.13.5
pillow==12.1.0
